<% layout('layouts/boilerplate.ejs') -%>


<div class="row col-6 offset-3 mt-3">
    <h2>Sing Up Page</h2>
    <form method="post" action="/signup">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
          </div>
        <button type="submit" class="btn btn-dark">Sing Up</button>
    </form>
</div>

